.messageSuccess {
  border-bottom: 1px solid lightGray;
}
.messageError {
  background: peachpuff;
  border-bottom: 1px solid lightGray;
}

.calculatorForm {
  width: 400px;
  margin: 10px;
  .usage {
    background: lightgray;
    padding: 10px;
  }

  .computeCohomology {
    input {
      margin: 3px;
    }
    span {
      margin: 3px;
    }
    .maxDegree {
      width: 50px;
    }
  }
}
