.error {
  color: red;
  background: peachpuff;
  padding: 5px;
}

.messageSuccess {
  border-bottom: 1px solid lightGray;
}
.messageError {
  background: peachpuff;
  border-bottom: 1px solid lightGray;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .jsonEditor {
    background: lightgray;
    padding: 10px;
  }

  .calculatorForm {
    width: 400px;
    margin: 10px;
    textarea {
      width: 100%;
      height: 150px;
    }
    .computeCohomology {
      input {
        margin: 3px;
      }
      span {
        margin: 3px;
      }
      .maxDegree {
        width: 50px;
      }
    }
  }

  .calculatorResults {
    width: 700px;
    height: 700px;
    overflow-y: scroll;
  }
}
