.error {
  color: red;
  background: peachpuff;
  padding: 5px;
}

.messageSuccess {
  border-bottom: 1px solid lightGray;
}
.messageError {
  background: peachpuff;
  border-bottom: 1px solid lightGray;
}

.calculator {
  display: flex;
  flex-wrap: wrap;

  .calculatorForm {
    textarea {
      width: 300px;
      height: 150px;
    }
  }

  .calculatorResults {
    width: 500px;
    height: 700px;
    overflow-y: scroll;
  }
}
