<!-- https://github.com/jdigger/gradle-template/blob/master/src/main/resources/logback.xml からコピペ -->
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- http://logback.qos.ch/manual/architecture_ja.html で level の一覧が見られる -->
    <root level="${com.github.shwaka.kohomology.logLevel:-WARN}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
