name: called-lint-website

on:
  workflow_call:
    inputs:
      CACHE_KEY_NODE_MODULES:
        required: true
        type: string
        description: the cache key for website/website/node_modules

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v3
      - name: "Read cache: website/website/node_modules"
        uses: actions/cache@v3
        with:
          path: website/website/node_modules
          key: ${{ inputs.CACHE_KEY_NODE_MODULES }}
      - name: eslint
        run: npm run eslint
        working-directory: website/website
